<!-- <nav
  *ngIf="user"
  class="bg-gray-800 p-4 text-white flex justify-between items-center"
>
  <div>
    <span class="font-bold text-xl">IMS</span>
  </div>
  <ul class="flex space-x-4">
    <li>
      <a
        routerLink="/dashboard"
        *ngIf="user.role === 'admin' || user.role === 'superviser'"
        >Dashboard</a
      >
    </li>
    <li><a routerLink="/users" *ngIf="user.role === 'admin'">Users</a></li>
    <li><a routerLink="/roles" *ngIf="user.role === 'admin'">Roles</a></li>
    <li>
      <a
        routerLink="/items"
        *ngIf="user.role === 'admin' || user.role === 'superviser'"
        >Items</a
      >
    </li>
    <li>
      <a
        routerLink="/sales"
        *ngIf="user.role === 'admin' || user.role === 'salesPerson'"
        >Sales</a
      >
    </li>
    <li>
      <button class="rounded-2xl w-16 bg-red-700" (click)="logout()">
        Logout
      </button>
    </li>
  </ul>
</nav> -->
<nav
  *ngIf="user"
  class="bg-gray-900 text-white flex items-center justify-between px-6 py-3 shadow-md"
>
  <div class="flex items-center space-x-3">
    <span class="text-2xl font-extrabold tracking-wider">IMS</span>
  </div>

  <ul class="hidden md:flex space-x-6 font-medium text-gray-300">
    <li>
      <a
        routerLink="/dashboard"
        *ngIf="user.role === 'admin' || user.role === 'superviser'"
        class="hover:text-white transition"
        >Dashboard</a
      >
    </li>
    <li>
      <a
        routerLink="/users"
        *ngIf="user.role === 'admin'"
        class="hover:text-white transition"
        >Users</a
      >
    </li>
    <li>
      <a
        routerLink="/roles"
        *ngIf="user.role === 'admin'"
        class="hover:text-white transition"
        >Roles</a
      >
    </li>
    <li>
      <a
        routerLink="/items"
        *ngIf="user.role === 'admin' || user.role === 'superviser'"
        class="hover:text-white transition"
        >Items</a
      >
    </li>
    <li>
      <a
        routerLink="/sales"
        *ngIf="user.role === 'admin' || user.role === 'salesPerson'"
        class="hover:text-white transition"
        >Sales</a
      >
    </li>
  </ul>

  <div>
    <button
      (click)="logout()"
      class="bg-red-600 hover:bg-red-700 px-4 py-2 rounded-full text-white font-semibold transition"
    >
      Logout
    </button>
  </div>
</nav>
