<p>role-component works!</p>
<div class="p-6">
  <h1 class="text-2xl font-bold mb-4">User List</h1>
  <button
    class="mb-4 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700"
    (click)="addNew()"
  >
    Add Role
  </button>

  <div *ngIf="!showForm" class="overflow-x-auto">
    <table class="min-w-full border border-gray-300">
      <thead>
        <tr class="bg-gray-100 text-left">
          <th class="px-4 py-2 border">Role</th>
          <th class="px-4 py-2 border">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles" class="hover:bg-gray-50">
          <td class="px-4 py-2 border">{{ role.role }}</td>

          <td class="px-4 py-2 border">
            <button class="mr-2 text-blue-600" (click)="updateRole(role)">
              Edit
            </button>
            <button class="text-red-600" (click)="deleteRole(role.id)">
              Delete
            </button>
          </td>
        </tr>
        <tr *ngIf="roles.length === 0">
          <td colspan="4" class="text-center text-gray-500 p-4">
            No users found.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="showForm">
    <app-role-form-component
      [role]="selectedRole"
      (formClose)="onFormClose()"
    ></app-role-form-component>
  </div>
</div>
