<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  <div>
    <label>First Name:</label>
    <input type="text" name="name" [(ngModel)]="model.name" required />
  </div>

  <div>
    <label>Email:</label>
    <input type="email" name="email" [(ngModel)]="model.email" required />
  </div>

  <div>
    <label>Role:</label>
    <select name="role" [(ngModel)]="model.role">
      <option *ngFor="let role of roles" [value]="role.role">
        {{ role.role }}
      </option>
    </select>
  </div>

  <button type="submit">{{ user ? "Update" : "Create" }} User</button>
  <button type="button" (click)="onCancel()">Cancel</button>
</form>
